.color-navbar {
  background-color: #FAACA8 !important;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 60px;
}
