.color-navbar {
  background-color: #08AEEA !important;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 60px;
}
